
@media (prefers-reduced-motion: no-preference) {
  .jjanggu1 {
    animation: App-logo-spin infinite 1s linear;
  }
  .jjanggu2 {
    animation: App-logo-spin infinite 10s linear;
  }
  .jjanggu3 {
    animation: App-logo-spin infinite 10s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

